body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
  background-color: #ffccff;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

input, select, button, textarea {
  max-width: 100%;
}

meter, progress, output {
  max-width: 100%;
}

div#tswsidecol {
  float: right;
  width: 20%;
  color: black;
  background-color: #ffccff;
}

div#tswcontent {
  float: right;
  width: 80%;
  color: black;
  background-color: #ffccff;
}

@media only screen and ( max-width : 629px ) {
  div#tswsidecol {
    float: none;
    width: 100%;
  }
  div#tswcontent {
    float: none;
    width: 100%;
  }
}

div#tswcontproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswcontainer {
  background-color: #ffccff;
}

div#tswsideproper, div#tswothersideproper {
  padding-left: 5px;
  padding-right: 5px;
}

div#tswheader {
  color: white;
  background-color: #ffccff;
}

div#tswfooter {
  color: black;
  background-color: #ffccff;
}

